/* setting for Aboutme page */
.self-intor {
    background-color: #252422;
    color: #fffcf2;
    padding: 0.5rem;
    margin: 0.5rem;
}

.self-intor img {
    width: 80%;
    max-width: 10rem;
    display: block;
    margin: 0 auto;
}

.edu {
    padding: 0.7rem;
    font-size: 0.8rem;
}

h2 {
    font-size: 1.3rem;
}

.edu h3 {
    font-size: 1.2rem;
}

.edu a {
    font-size: 1.2rem;
}

li {
    font-size: 0.8rem;
    margin: 0.6rem;
}

li b {
    font-size: 1rem;
}

/****************** Tablet **********************/
/* Set the screen size of tablet */
@media only screen and (min-width: 760px) {

    body {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .edu h3 {
        font-size: 1.5rem;
    }

    .edu a {
        font-size: 1.5rem;
    }

    li {
        font-size: 1.1rem;
        margin: 1rem;
    }

    li b {
        font-size: 1.2rem;
    }

    .self-intor {
        /* flex items will wrap onto multiple lines, from top to bottom. */
        flex-wrap: wrap;
        justify-content: center;
        /* start using the grid model */
        display: grid;
        /* define a pattern have 2 columns*/
        grid-template-columns: repeat(5, 1fr);
        /* define a pattern have 2 rows*/
        /* grid-template-rows: repeat(2, 1fr); */
    }

    .self:nth-child(1) {
        /* padding: 1.5rem 0 0 1rem; */
        /* Place a grid item at column 1, and span 4 column */
        grid-column: 1/ span 3;
        /* Place a grid item at row 1, and span 1 row */
        /* grid-row: 1 /span 1; */
    }

    .self:nth-child(2) {
        /* padding: 1.5rem 0 0 1rem; */
        /* Place a grid item at column 1, and span 4 column */
        grid-column: 4/ span 2;
        /* Place a grid item at row 1, and span 1 row */
        /* grid-row: 1 /span 1; */
    }
}

/****************** Desktop **********************/
/* Set the screen size of tablet */
@media only screen and (min-width: 1280px) {}