/* setting for Home page */

/* Banner Setting */
.banner {
    background-color: #252422;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 9rem;
    letter-spacing: 1px;
}

h1 {
    background-clip: border-box;
    /* The image used */
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    /* Resize the background image to cover the entire container */
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 3rem;
}

/* End banner setting */

/* Product setting */
.product img {
    width: 50%;
    object-fit: cover;
    margin: 8px 25% 0 25%;
    text-align: center;
}

.box {
    background-color: #ccc5b9;
    /* margin: 8px 0 8px 0; */
    border: 0.3rem solid #252422;
    padding: 1rem;
}

/* Product setting end */

/****************** Tablet **********************/
/* Set the screen size of tablet */
@media only screen and (min-width: 760px) {

    /* Website logo */
    .logo img {
        width: 18%;
        box-sizing: border-box;
    }

    /* Products */
    /* Each row displays two items */
    .product {
        /* start using the Flexbox model */
        display: flex;
        /* flex items will wrap onto multiple lines, from top to bottom. */
        flex-wrap: wrap;
        justify-content: center;
        /* start using the grid model */
        display: grid;
        /* define a pattern have 2 columns*/
        grid-template-columns: repeat(2, 1fr);
        /* define a pattern have 3 rows*/
        grid-template-rows: repeat(3, 1fr);
    }
}

/****************** Desktop **********************/
/* Set the screen size of tablet */
@media only screen and (min-width: 1280px) {

    /* Each row displays 3 items */
    .product {
        /* start using the Flexbox model */
        display: flex;
        /* flex items will wrap onto multiple lines, from top to bottom. */
        flex-wrap: wrap;
        justify-content: center;
        /* start using the grid model */
        display: grid;
        /* define a pattern have 3 columns*/
        grid-template-columns: repeat(3, 1fr);
        /* define a pattern have 2 rows*/
        grid-template-rows: repeat(2, 1fr);
    }
}