/* all element size will inculed border and padding in the values */
* {
    box-sizing: border-box;
}

/* Set all font in body */
body {
    font-family: 'Oswald', sans-serif;
    /* 16px */
    font-size: 1rem;
    background-color: #FFF7ED;
}

/* Set for header */
header {
    width: 100%;
}

.logo {
    text-align: center;
}

.logo img {
    width: 15%;
}

/* nav attribute  */
li {
    /*Remove list style*/
    list-style: none;
    /* text in the center */
    text-align: center;
}

a {
    /* remove the underline */
    text-decoration: none;
    font-size: 1.3rem;
}

a:hover {
    background-color: #EAA652;
    box-shadow: 0 0 2px 1px #EAA652;
}

/* set for footer */
footer {
    background-color: lightgray;
}

.box .icon {
    /* start using the Flexbox model */
    display: inline-flex;
    align-items: center;
}


.icon img {
    width: 3rem;
}

.copyright {
    font-size: 0.7rem;
}

.copyright a {
    font-size: 0.7rem;
}

.box {
    background-color: lightgray;
    margin: 7px 0 7px 0;
}

.product img {
    width: 40%;
    margin: 8px 30% 0 30%;
    text-align: center;
}

.product .cart {
    margin: 0;
    width: 40px;
}


/****************** Tablet **********************/

/* Set the screen size of tablet */
@media only screen and (min-width: 760px) {

    .head {
        /* start using the Flexbox model */
        display: flex;
        /* flex items will wrap onto multiple lines, from top to bottom. */
        flex-wrap: wrap;
    }

    li {
        display: inline;
        margin-right: 2.2rem;
        text-align: left;
    }

    .logo img {
        width: 18%;
        box-sizing: border-box;
    }

    .banner h1 {
        font-size: 3rem;
    }

    .banner p {
        font-size: 2.5rem;
    }

    /* Each row displays two items */
    .product {
        /* start using the Flexbox model */
        display: flex;
        /* flex items will wrap onto multiple lines, from top to bottom. */
        flex-wrap: wrap;
        justify-content: center;
        /* start using the grid model */
        display: grid;
        /* define a pattern have 2 columns*/
        grid-template-columns: repeat(2, 1fr);
        /* define a pattern have 3 rows*/
        grid-template-rows: repeat(3, 1fr);
    }

    .footerbox {
        /* flex items will wrap onto multiple lines, from top to bottom. */
        flex-wrap: wrap;
        justify-content: center;
        /* start using the grid model */
        display: grid;
        /* define a pattern have 2 columns*/
        grid-template-columns: repeat(9, 1fr);
        /* define a pattern have 3 rows*/
        grid-template-rows: repeat(2, 1fr);
    }

    .footerbox .box:nth-child(1) {
        /* Place a grid item at column 1, and span 4 column */
        grid-column: 1/ span 4;
        /* Place a grid item at row 1, and span 1 row */
        grid-row: 1 /span 1;
    }

    .footerbox .box:nth-child(2) {
        /* Place a grid item at column 1, and span 1 column */
        grid-column: 6/ span 4;
        /* Place a grid item at row 1, and span 1 row */
        grid-row: 1 /span 1;
    }

    .footerbox .box:nth-child(3) {
        /* Place a grid item at column 1, and span 1 column */
        grid-column: 1/ span 4;
        /* Place a grid item at row 1, and span 1 row */
        grid-row: 2 /span 1;
    }

    .footerbox .box:nth-child(4) {
        /* Place a grid item at column 1, and span 1 column */
        grid-column: 6/ span 4;
        /* Place a grid item at row 1, and span 1 row */
        grid-row: 2 /span 1;
    }

}

/****************** Desktop **********************/

/* Set the screen size of Desktop */
@media only screen and (min-width: 1280px) {

    /* Each row displays 3 items */
    .product {
        /* start using the Flexbox model */
        display: flex;
        /* flex items will wrap onto multiple lines, from top to bottom. */
        flex-wrap: wrap;
        justify-content: center;
        /* start using the grid model */
        display: grid;
        /* define a pattern have 3 columns*/
        grid-template-columns: repeat(3, 1fr);
        /* define a pattern have 2 rows*/
        grid-template-rows: repeat(2, 1fr);
    }

    .footerbox {
        /* flex items will wrap onto multiple lines, from top to bottom. */
        flex-wrap: wrap;
        justify-content: center;
        /* start using the grid model */
        display: grid;
        /* define a pattern have 2 columns*/
        grid-template-columns: repeat(12, 1fr);
        /* define a pattern have 3 rows*/
        grid-template-rows: repeat(2, 1fr);
    }

    .footerbox .box:nth-child(1) {
        /* Place a grid item at column 1, and span 4 column */
        grid-column: 1/ span 4;
        /* Place a grid item at row 1, and span 1 row */
        grid-row: 1 /span 1;
    }

    .footerbox .box:nth-child(2) {
        /* Place a grid item at column 1, and span 1 column */
        grid-column: 6/ span 4;
        /* Place a grid item at row 1, and span 1 row */
        grid-row: 1 /span 1;
    }

    .footerbox .box:nth-child(3) {
        /* Place a grid item at column 1, and span 1 column */
        grid-column: 10/ span 4;
        /* Place a grid item at row 1, and span 1 row */
        grid-row: 1 /span 1;
    }

    .footerbox .box:nth-child(4) {
        /* Place a grid item at column 1, and span 1 column */
        grid-column: 6/ span 4;
        /* Place a grid item at row 1, and span 1 row */
        grid-row: 2 /span 1;
    }

}