/* Keep the size of all boxes unaffected by the padding*/
* {
    box-sizing: border-box;
}

/* Set all font - all parts that have not been reset */
body {
    font-family: 'Oswald', sans-serif;/*16px */
    font-size: 1rem;
    
}

/* Sets the color, size of the header */
header {
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
}


/****************** Tablet **********************/

/* Set the flat screen size of tablet */
@media only screen and (min-width: 768px) {

}

/****************** Desktop **********************/

/* Set the flat screen size of Desktop */
    @media only screen and (min-width: 1280px) {


}